p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.logo {
    display: inline;
    width: 100px;
    float: left;
}

.text1 {
    color: aqua;
}