p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.text1 {
    color: aqua;
}

.logo {
    margin-left: 100px;
}

.logo img {
    display: inline;
    width: 100px;
    float: left;
}

.text {
    margin-left: 600px;
    margin-right: auto;
}

.link {
    padding-top: 30px;
}